In [2]:
string="I"
string2="am learning"
string3 ="Python."
string4 ="Variable declaration"
string5 ="isn\"t required unlike c#"

string6 ='isn"t required unlike c#'

In [13]:
print(string,string2,string3,string4,string5,string6)

I am learning Python. Variable declaration isn"t required unlike c# isn"t required unlike c#

comb_string = string+" "+string2
comb_string.upper()
print(comb_string.upper())

string

## Strings are sequential objects that start with 0, akin C#

In [27]:
string2.

'a'

# What I have learned so far
1. Set up Jupyter Notebook and create project file
2. Basic of Cell-code cell and Markdown cell
3. Print Statements
4. Basic Objects
* Strings
* int
* float
* bool
5. Variable and naming conventions
6. Operators
7. Objects have attributes and method

In [28]:
3!=4

True

In [7]:
string_slicing ="Variable declaration"
print(string_slicing[0:4])

Vari

In [10]:
#find
#startwith
#join
#attributes and methods 
string_strip ="  Variable declaration  "
print(string_strip.strip())

Variable declaration

## First data structure

In [14]:
people = ['tom','harry']
pets = ['cat','dog']
number_of_frnd = [1,2]
ages = [26.5,24]

atypical_list =[1,'cat'] 
nested_list = [people,pets]
nested_list

[['tom', 'harry'], ['cat', 'dog']]

In [21]:
people[1]

'harry'